.footer {
	@media screen and (max-width: $md) {
		text-align: center;
		font-size: 16px;
	}
	&__wrapper {
		display: flex;
		gap: 100px;
		justify-content: center;
		padding: 60px 30px;
		border-top: 1px solid #f2dee2;
		@media screen and (max-width: $lg) {
			padding: 38px 15px;
		}
		@media screen and (max-width: $md) {
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}
	}
	&__logo {
		order: -2;
	}
	&__links {
		@media screen and (max-width: $md) {
			order: -1;
		}
	}
	&__links-list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		@media screen and (max-width: $md) {
			gap: 10px;
		}
	}
	&__link {
		display: block;
		padding: 5px;
	}
	&__number {
		display: block;
		font-size: 22px;
		font-weight: 500;
		margin-bottom: 20px;
		@media screen and (max-width: $md) {
			font-size: 18px;
		}
	}
	&__address {
		display: block;
		color: $lightGray;
		max-width: 280px;
		margin-bottom: 20px;
	}
	&__social {
		justify-content: flex-start;
		@media screen and (max-width: $md) {
			justify-content: center;
		}
		.social__link {
			svg {
				fill: $black;
			}
			&:hover,
			&:focus,
			&:active {
				svg {
					fill: $brown;
				}
			}
		}
	}
}
